{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Add Student</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">

</head>


<body>


<div class="sidebar">

    <h2>🎓 Student DB</h2>

    <a href="{% url 'home' %}">🏠 Dashboard</a>

    <a href="{% url 'add_student' %}">➕ Add Student</a>

    <a href="{% url 'student_list' %}">👨‍🎓 Students</a>


</div>


<div class="main">

    <h1 style="text-align: center;">Add New Student</h1>


    <div class="form-container">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="btn">
                Add Student
            </button>

        </form>

    </div>

</div>


</body>

</html>