{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Edit Student</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">
</head>

<body>

<div class="sidebar">

    <h2>🎓 Student DB</h2>

    <a href="{% url 'home' %}">🏠 Dashboard</a>
    <a href="{% url 'add_student' %}">➕ Add Student</a>
    <a href="{% url 'student_list' %}">👨‍🎓 Students</a>
  

</div>


<div class="main">

    <h1 style="text-align: center;">Edit Student</h1>

    <div class="form-container">

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn">
                Update Student
            </button>

            <a href="{% url 'student_list' %}"
               class="btn secondary-btn">
                Cancel
            </a>

        </form>

    </div>

</div>

</body>

</html>