{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>

<body>

<div class="sidebar">

    <h2>🎓 Student MS</h2>

    <a href="{% url 'home' %}">🏠 Dashboard</a>

    <a href="{% url 'add_student' %}">➕ Add Student</a>

    <a href="{% url 'student_list' %}">👨‍🎓 Students</a>

    <a href="{% url 'logout' %}">🚪 Logout</a>

</div>


<div class="main">

    <div class="header">

        <div>
            <h1>Dashboard</h1>
            <p>Welcome to Student Management System</p>
        </div>

        <a href="{% url 'add_student' %}" class="btn">
            + Add Student
        </a>

    </div>


    <div class="cards">

        <div class="card">
            <h3>Total Students</h3>
            <div class="number">
                {{ total_students }}
            </div>
        </div>


        <div class="card">
            <h3>Total Courses</h3>
            <div class="number">
                {{ total_courses }}
            </div>
        </div>


        <div class="card">
            <h3>Total Semesters</h3>
            <div class="number">
                {{ total_semesters }}
            </div>
        </div>

    </div>


 <div class="table-container">

    <h2>Recent Students</h2>

    {% if recent_students %}

    <table>

        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Semester</th>
            <th>Action</th>
        </tr>

        {% for student in recent_students %}

        <tr>

            <td>
                {{ student.name }}
            </td>

            <td>
                {{ student.course }}
            </td>

            <td>
                {{ student.semester }}
            </td>

            <td>
                <a href="{% url 'student_detail' student.id %}"
                   class="btn">
                    View
                </a>
            </td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>No students added yet.</p>

    {% endif %}

</div>

</div>

</body>
</html>