{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Student Details</title>

    <link rel="stylesheet"
          href="{% static 'students/style.css' %}">

</head>

<body>

<div class="sidebar">

    <h2>🎓 Student DB</h2>

    <a href="{% url 'home' %}">🏠 Dashboard</a>

    <a href="{% url 'add_student' %}">➕ Add Student</a>

    <a href="{% url 'student_list' %}">👨‍🎓 Students</a>



</div>


<div class="main">

    <h1>Student Detail</h1>


    <div class="form-container">

        <h2>{{ student.name }}</h2>

        <hr>

        <p>
            <strong>Email:</strong>
            {{ student.email }}
        </p>

        <p>
            <strong>Phone:</strong>
            {{ student.phone }}
        </p>

        <p>
            <strong>Course:</strong>
            {{ student.course }}
        </p>

        <p>
            <strong>Semester:</strong>
            {{ student.semester }}
        </p>

        <br>

        <a href="{% url 'edit_student' student.id %}"
           class="btn">
            Edit Student
        </a>

        <a href="{% url 'student_list' %}"
           class="btn">
            Back to Students
        </a>

    </div>

</div>

</body>

</html>